connect.php
**/**/vendor
**/**/settings.yml
**/config
build/*
config/settings-e2e.yml
.idea
cloud_sql_proxy.exe
**/**/app.yaml
**/.idea
node_modules
**/*.xml
**/**/*.xml
.idea/workspace.xml
api/.idea/workspace.xml
**/**/connect.php
dynamic/src/app.php

