{% extends "base.html.twig" %}

{% block content %}

    <h3>Lab916 Quotes</h3>
    <a href="/books/add" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-plus"></i>
        Add Data Entry
    </a>

    <br><br>

    <div class="row">
        {# [START book_list] #}
        {% for book in books %}
            <div class="media col-xs-6 col-md-3">
                <a href="/books/{{ book.id }}" class="thumbnail">
                    <div class="media-left">
                        <img src="https://static1.squarespace.com/static/58486f891b631beb1bea6ebe/t/5871c70e6b8f5b2a8ee6d964/1518154040041/?format=300w"
                        width="100px">
                    </div>
                    <div class="media-body">
                        <h4>{{ book.title }}</h4>
                        <p>{{ book.author }}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <p>No books found</p>
        {% endfor %}
        {# [END book_list] #}
    </div>


    {% if next_page_token %}
        <nav>
            <ul class="pager">
                <li><a href="?page_token={{ next_page_token }}">More</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
